<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
</body>
</html>
<div class="flex2">
    <h1>Order Confirmed</h1>
</div>
<div class="lpdiv">
    <p>Your order has been successfully placed.</p>
    <a href="{% url 'home' %}">Return to Homepage</a>
</div>