<!-- templates/users/edit_profile.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="body-wrapper">
        
        <form method="post" class="form-wrapper">
            <h1>Edit Profile</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save changes</button>
        </form>
    </div>
</body>
</html>
